{% extends 'AguilaBundle:Project:show.html.twig' %}

{% block content %}

<h2>{{ 'project.edit.title'|trans([], 'AguilaBundle') }}</h2>

<form action="{{ path('aguila_project_update', {'slug': project.slug}) }}" method="post" {{ form_enctype(edit_form) }} class="form-stacked">
    {{ form_widget(edit_form) }}
    <button class="btn primary" type="submit">{{ 'project.edit.submit'|trans([], 'AguilaBundle') }}</button>
    <a class="btn" href="{{ path('aguila_project_show', {'slug': project.slug}) }}">{{ 'project.edit.cancel'|trans([], 'AguilaBundle') }}</a>
</form>

{% endblock %}