{% extends 'AguilaBundle:Project:list.html.twig' %}

{% block sidebar %}

<h2>{{ 'project.edit.title'|trans([], 'AguilaBundle') }}</h2>

<form action="{{ path('aguila_project_update', {'slug': project.slug}) }}" method="post" {{ form_enctype(edit_form) }} class="form-stacked">
    {{ form_widget(edit_form) }}
    <a class="btn" href="{{ path('aguila_project_list') }}">{{ 'project.edit.cancel'|trans([], 'AguilaBundle') }}</a>
    <button class="btn primary" type="submit">{{ 'project.edit.submit'|trans([], 'AguilaBundle') }}</button>
</form>

{% endblock %}