{% extends 'AguilaBundle::layout.html.twig' %}

{% block title 'project.list.title'|trans([], 'AguilaBundle') %}

{% block content %}

<h2>
    {{ 'project.list.title'|trans([], 'AguilaBundle') }}
    <em>({{ projects|length }})</em>
    <a href="{{ path('project_new') }}">{{ 'project.list.new'|trans([], 'AguilaBundle') }}</a>
</h2>

<section>
    <ul>
        {% for project in projects %}
        <li>
            <h3>
                <a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a>
                <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}