<h3>{{ 'project.new.title'|trans([], 'AguilaBundle') }}</h3>

<form action="{{ path('aguila_project_list') }}" method="post" {{ form_enctype(form) }}>
    {#{{ form_errors(form) }}#}
    {{ form_widget(form) }}
    {#{{ form_rest(form) }}#}
    <button type="submit">{{ 'project.new.submit'|trans([], 'AguilaBundle') }}</button>
</form>