{% extends 'AguilaBundle::layout.html.twig' %}

{% block title 'project.new.title'|trans([], 'AguilaBundle') %}

{% block content %}

<h2>{{ 'project.new.title'|trans([], 'AguilaBundle') }}</h2>

<form action="{{ path('aguila_project_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <a href="{{ path('aguila_project_list') }}">{{ 'project.new.cancel'|trans([], 'AguilaBundle') }}</a>
    <button type="submit">{{ 'project.new.submit'|trans([], 'AguilaBundle') }}</button>
</form>

{% endblock %}