{% extends 'AguilaBundle::layout.html.twig' %}

{% block title project.name %}

{% block content %}

<section>
    <header>
        <h2>{{ project.name }}</h2>
        <a href="{{ path('project_edit', {'id': project.id}) }}">{{ 'project.show.edit'|trans([], 'AguilaBundle') }}</a>
    </header>

    <div>
    {% render 'AguilaBundle:Feature:new' %}
    </div>

    {% for feature in project.features %}
    <div>
        <h3><a href="{{ path('feature_show', {'id': feature.id}) }}">{{ feature.name }}</a></h3>
        <div>
            <h4>{{ 'project.show.feature.involvedUsers'|trans([], 'AguilaBundle') }}</h4>
            <ul>
                {% for user in feature.involvedUsers %}
                <li>{{ user }}</li>
                {% endfor %}
            </ul>
        </div>
        <dl>
            <dt>{{ 'project.show.feature.tasks'|trans([], 'AguilaBundle') }}</dt>
            <dd>{{ feature.tasks|length }}</dd>
            <dt>{{ 'project.show.feature.priority'|trans([], 'AguilaBundle') }}</dt>
            <dd>{{ feature.priority }}</dd>
        </dl>
    </div>
    {% endfor %}

</section>

{% endblock %}