{% extends 'AguilaBundle::layout.html.twig' %}

{% block title project.name %}

{% block breadcrumb %}{% endblock %}

{% block sidebar %}
<div class="page-header">
    <h1>
        <a href="{{ path('aguila_project_show', {'slug': project.slug}) }}" class="name">{{ project.name }}</a>
        <small>
            ({{ project.features|length }})
            <a href="{{ path('aguila_project_edit', {'slug': project.slug}) }}" class="icon cog"></a>
        </small>
    </h1>

    <h2>
        {{ 'project.show.features'|trans([], 'AguilaBundle') }}
        <small><a class="new-feature-button btn success" href="#">{{ 'project.show.feature.new'|trans([], 'AguilaBundle') }}</a></small>
    </h2>
    {% render 'AguilaBundle:Feature:new' with {'project': project} %}
</div>

{% include 'AguilaBundle:Feature:list.html.twig' with {'features': project.features} %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="span16">
        <h3>{{ "project.show.news"|trans([], "AguilaBundle") }}</h3>
    </div>
</div>
<div class="row">
    <div class="span-one-third">
        <h3>{{ "project.show.graph"|trans([], "AguilaBundle") }}</h3>
    </div>
    <div class="span-one-third">
        <h3>{{ "project.show.features"|trans([], "AguilaBundle") }}</h3>
    </div>
    <div class="span-one-third">
        <h3>{{ "project.show.users"|trans([], "AguilaBundle") }}</h3>
    </div>
</div>

{% endblock %}
