{% extends 'AguilaBundle::layout.html.twig' %}

{% block title "#" ~ task.id ~ ": " ~ task.description %}

{% block content %}

<section>
    <form action="{{ path('aguila_task_update', {'project_slug': task.feature.project.slug, 'number': task.number}) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <a href="{{ path('aguila_task_show', {'project_slug': task.feature.project.slug, 'number': task.number}) }}">{{ 'task.edit.cancel'|trans([], 'AguilaBundle') }}</a>
        <button type="submit">{{ 'task.edit.submit'|trans([], 'AguilaBundle') }}</button>
    </form>
</section>

{% endblock %}