<h1>Task list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Difficulty</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Reporter</th>
            <th>Comments</th>
            <th>Issues</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
            <td>{{ task.description }}</td>
            <td>{{ task.difficulty }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ task.reporter }}</td>
            <td>{{ task.comments }}</td>
            <td>{{ task.issues }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('task_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
