{% for task in tasks %}
<div>
    <h3><a href="{{ path('aguila_task_show', {'project_slug': task.feature.project.slug, 'number': task.number}) }}">{{ task.description }}</a></h3>
    <p>
        {{ 'task.list.reported_by'|trans([], 'AguilaBundle') }} <strong>{{ task.reporter }}</strong>
        {% if task.assignee %}
        {{ 'task.list.and_assignee'|trans([], 'AguilaBundle') }} <strong>{{ task.assignee }}</strong>
        {% endif %}
    </p>
</div>
{% else %}
<div>
    {{ "task.list.no_tasks"|trans([], 'AguilaBundle') }}
</div>
{% endfor %}