{% extends 'AguilaBundle:Feature:show.html.twig' %}

{% set project = task.feature.project %}
{% set feature = task.feature %}

{% block title task.feature.project ~ " #" ~ task.id ~ ": " ~ task.description %}

{#{% block breadcrumbs %}#}
{#<nav>#}
    {#<a href="{{ path('aguila_project_show', {#}
        {#'slug': task.feature.project.slug}) }}">{{ task.feature.project.name }}</a> &raquo;#}
    {#<a href="{{ path('aguila_feature_show', {#}
        {#'project_slug': task.feature.project.slug,#}
        {#'slug': task.feature.slug}) }}">{{ task.feature.name }}</a> &raquo;#}
    {##{{ task.number }}#}
{#</nav>#}
{#{% endblock %}#}

{% block sub_content %}
<div class="task">
    <div class="page-header">
        <h3>
            {{ task.title }}
        </h3>

        {% include 'AguilaBundle:Task:meta.html.twig' %}
    </div>

    <div style="overflow: auto">

        <div class="span3 metadata" style="background: #d3d3d3; float: right;">
            <div>
                <span class="icon lightbulb"></span>
                {{ task_difficulty_choices[task.difficulty]|trans([], 'AguilaBundle') }}
            </div>
            <div>
                <span class="icon clock"></span>
                {{ task_priority_choices[task.priority]|trans([], 'AguilaBundle') }}
            </div>
            <div>
                <span class="icon document"></span>
                {{ task_status_choices[task.status]|trans([], 'AguilaBundle') }}
            </div>
            <div>
                <a class="btn{% if task.status %} error{% else %} info{% endif %}" href="{{ path('aguila_task_close', {
                        'project_slug': task.feature.project.slug,
                        'number': task.number}) }}">
                    {{ task.status == 0 ? "REOPEN" :"CLOSE" }}
                </a>
            </div>
            {#<div>#}
                {#<a class="btn" href="{{ path('aguila_task_edit', {#}
                        {#'project_slug': task.feature.project.slug,#}
                        {#'number': task.number}) }}">#}
                    {#{{ 'task.show.edit'|trans([], 'AguilaBundle') }}#}
                {#</a>#}
            {#</div>#}
        </div>

            {{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}{{ task.description }}
        {{ task.description }}



    </div>
</div>

<div class="page-header">
    <h3>Comentarios</h3>
</div>

<ul>
    {% for comment in task.comments %}
    <li class="comment"><p class="comment-meta">{{ comment.user }} on {{comment.date|date('Y-m-d')}} </p>

        <div class="comment-text">
            {{ comment.body }}
        </div>
    </li>
    {% endfor %}
</ul>
<form class="form-stacked" action="{{ path('aguila_task_show', {'project_slug': task.feature.project.slug, 'number': task.number}) }}" method="post" {{ form_enctype(comment_form) }}>
    <fieldset>
        {{ form_widget(comment_form) }}
    </fieldset>
    <div class="actions">
        <button class="btn primary" type="submit">{{ 'task.comment.submit'|trans([], 'AguilaBundle') }}</button>
    </div>
</form>
</div>
{% endblock %}
