{% extends 'AguilaBundle::layout.html.twig' %}

{% block title "#" ~ task.id ~ ": " ~ task.description %}

{% block content %}

<section>

    <header>
        <h2>{{ task.description }}</h2>
        <a href="{{ path('aguila_task_edit', {'project_slug': task.feature.project.slug, 'number': task.number}) }}">{{ 'task.show.edit'|trans([], 'AguilaBundle') }}</a>
        <p>
            {{ 'task.show.reported_by'|trans([], 'AguilaBundle') }} <strong>{{ task.reporter }}</strong>
            {% if task.assignee %}
            {{ 'task.show.and_assignee'|trans([], 'AguilaBundle') }} <strong>{{ task.assignee }}</strong>
            {% endif %}
        </p>
    </header>

    <dl>
        <dt>{{ 'feature.show.task.difficulty'|trans([], 'AguilaBundle') }}</dt>
        <dd>{{ task_difficulty_choices[task.difficulty]|trans([], 'AguilaBundle') }}</dd>
        <dt>{{ 'feature.show.task.priority'|trans([], 'AguilaBundle') }}</dt>
        <dd>{{ task_priority_choices[task.priority]|trans([], 'AguilaBundle') }}</dd>
        <dt>{{ 'feature.show.task.status'|trans([], 'AguilaBundle') }}</dt>
        <dd>{{ task_status_choices[task.status]|trans([], 'AguilaBundle') }}</dd>
    </dl>

</section>

{% endblock %}