{% extends 'AguilaBundle:Feature:show.html.twig' %}

{% set project = task.feature.project %}
{% set feature = task.feature %}

{% block title task.feature.project ~ " #" ~ task.id ~ ": " ~ task.title %}

{% block sub_content %}
<div class="task">
    <div class="page-header">
        <h3>
            <span class="label {% if task.status == 0 %}important{% elseif task.status == 1%}success{% else %}warning{% endif %}">{{ task_status_choices[task.status]|trans([], 'AguilaBundle') }}</span>
            {{ task.title }}
            <a class="edit" href="{{ path('aguila_task_edit', {
                        'project_slug': task.feature.project.slug,
                        'number': task.number}) }}">
                <span class="icon pencil"></span>
            </a>
        </h3>

        {% include 'AguilaBundle:Task:meta.html.twig' with {'task': task} %}

    </div>

    <div class="metadata well">
        <span class="icon lightbulb"></span>{{ task_difficulty_choices[task.difficulty]|trans([], 'AguilaBundle') }}
        <span class="icon clock"></span> {{ task_priority_choices[task.priority]|trans([], 'AguilaBundle') }}
        {% if task.assignee %}
        <img src="http://www.gravatar.com/avatar/{{ task.assignee.gravatar }}?s=12" style="width: 12px; height: 12px;"/>
        <strong>{{ task.assignee }}</strong>
        {% endif %}
        <a class="btn small {% if task.status %}error{% else %}success{% endif %}"
           href="{{ path('aguila_task_close', {'project_slug': task.feature.project.slug,'number': task.number}) }}"
                >
            {{ task.status == 0 ? "REOPEN" :"CLOSE" }}
        </a>
    </div>
</div>

{% render 'AguilaBundle:Comment:list' with {'task_id': task.id} %}

{% render 'AguilaBundle:Comment:new' with {'task_id': task.id} %}

{% endblock %}
