
{% block field_label %}
{% spaceless %}
    <label for="{{ id }}">{{ id|replace({'_':'.'})|trans([], 'AguilaBundle') }}</label>
{% endspaceless %}
{% endblock field_label %}

{% block widget_choice_options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if _form_is_choice_group(label) %}
            <optgroup label="{{ choice|trans([], 'AguilaBundle') }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if _form_is_choice_selected(form, nestedChoice) %} selected="selected"{% endif %}>{{ nestedLabel|trans([], 'AguilaBundle') }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if _form_is_choice_selected(form, choice) %} selected="selected"{% endif %}>{{ label|trans([], 'AguilaBundle') }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_choice_options %}

{% block field_row %}
{% spaceless %}
{% if errors|length > 0 %}{% set attr = attr|merge({'class': attr.class|default('') ~ ' error'}) %}{%endif%}
<div {{ block('widget_container_attributes') }}>
    {{ form_label(form, label|default(null)) }}
    <div class="input">
        {{ form_widget(form, attr) }}
        {% if errors|length > 0 %}
            <span class="help-inline">{{ form_errors(form) }}</span>
        {% elseif help is defined %}
            <span class="help-inline">{{ help }}</span>
        {%endif%}
        {% if helpBlock is defined %}
        <span class="help-block">{{ helpBlock }}</span>
        {%endif%}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}

{% block widget_container_attributes %}
{% spaceless %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' clearfix'}) %}
{% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}

{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}
    {% for error in errors %}
        {% if not loop.index %} | {% endif %}
        {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
    {% endfor %}
{% endif %}
{% endspaceless %}
{% endblock field_errors %}