{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block body %}
<header>
    <h1>Aguila</h1>
    <nav>
        <ul>
            <li><a href="{{ path('project_list') }}">{{'layout.nav.projects'|trans([], 'AguilaBundle')}}</a></li>
        {% if app.security.token and app.security.isGranted('ROLE_USER')  %}
            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.nav.logout'|trans([], 'AguilaBundle') }}</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.nav.login'|trans([], 'AguilaBundle') }}</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">{{'layout.nav.register'|trans([], 'AguilaBundle')}}</a></li>
        {% endif %}
        </ul>
    </nav>
</header>

<div id="content">
    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}
