{% extends 'AguilaBundle::layout.html.twig' %}

{% block title feature.name %}

{% block content %}

<section>
    <form action="{{ path('feature_update', { 'id': feature.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <a href="{{ path('feature_show', {'id': feature.id}) }}">{{ 'feature.edit.cancel'|trans([], 'AguilaBundle') }}</a>
        <button type="submit">{{ 'feature.edit.submit'|trans([], 'AguilaBundle') }}</button>
    </form>
</section>

{% endblock %}