{% extends 'AguilaBundle:Project:show.html.twig' %}

{% set project = feature.project %}

{% block title feature.project ~ " | " ~ feature.name %}

{% block content %}

<div class="page-header">
    <h2>{{ 'feature.edit.title'|trans([], 'AguilaBundle') }}</h2>
</div>

<form class="form-stacked" action="{{ path('aguila_feature_update', { 'project_slug': feature.project.slug, 'slug': feature.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
    <fieldset>
        {{ form_widget(edit_form) }}
    </fieldset>
    <div class="actions">
    <button class="btn primary" type="submit">{{ 'feature.edit.submit'|trans([], 'AguilaBundle') }}</button>
    <a class="btn" href="{{ path('aguila_feature_show', {'project_slug': feature.project.slug, 'slug': feature.slug}) }}">{{ 'feature.edit.cancel'|trans([], 'AguilaBundle') }}</a>
    </div>
</form>

{% endblock content %}