{% for feature in features %}
<div>
    <h3><a href="{{ path('feature_show', {'id': feature.id}) }}">{{ feature.name }}</a></h3>
    <div>
        {% if feature.involvedUsers %}
        <h4>{{ 'feature.index.involvedUsers'|trans([], 'AguilaBundle') }}</h4>
        <ul>
            {% for user in feature.involvedUsers %}
            <li>{{ user }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <dl>
        <dt>{{ 'feature.index.tasks'|trans([], 'AguilaBundle') }}</dt>
        <dd>{{ feature.tasks|length }}</dd>
        <dt>{{ 'feature.index.priority'|trans([], 'AguilaBundle') }}</dt>
        <dd>{{ feature.priority }}</dd>
    </dl>
</div>
{% else %}
<div>
    {{ "feature.index.no_features"|trans([], 'AguilaBundle') }}
</div>
{% endfor %}