<h2>{{ 'feature.new.title'|trans([], 'AguilaBundle') }}</h2>

<form action="{{ path('feature_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit">{{ 'feature.new.submit'|trans([], 'AguilaBundle') }}</button>
</form>