{% extends 'AguilaBundle::layout.html.twig' %}

{% block title feature.project ~ " | " ~ feature.name %}

{% block breadcrumbs %}
<nav>
    <a href="{{ path('aguila_project_show', {
        'slug': feature.project.slug}) }}">{{ feature.project.name }}</a> &raquo;
    {{ feature.name }}
</nav>
{% endblock %}

{% block content %}

<section>
    <header>
        <h2>{{ feature.name }}</h2>
        <a href="{{ path('aguila_feature_edit', {'project_slug': feature.project.slug, 'slug': feature.slug}) }}">{{ 'feature.show.edit'|trans([], 'AguilaBundle') }}</a>
    </header>

    {% render 'AguilaBundle:Task:new' with {'project_slug': feature.project.slug, 'feature_slug': feature.slug} %}

    {% include 'AguilaBundle:Task:list.html.twig' with {'tasks': feature.tasks} %}

</section>

{% endblock %}