{% extends 'AguilaBundle::layout.html.twig' %}

{% block title feature.name %}

{% block content %}

<section>
    <header>
        <h2>{{ feature.name }}</h2>
        <a href="{{ path('feature_edit', {'id': feature.id}) }}">{{ 'feature.show.edit'|trans([], 'AguilaBundle') }}</a>
    </header>

    <div>
    {% render 'AguilaBundle:Task:new' with {'feature_id': feature.id} %}
    </div>

    {% for task in feature.tasks %}
    <div>
        <h3><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.description }}</a></h3>
        <p>
            {{ 'feature.show.task.by'|trans([], 'AguilaBundle') }} {{ task.reporter }}
            {{ 'feature.show.task.and.assignee'|trans([], 'AguilaBundle') }} {{ task.assignee }}
        </p>
    </div>
    {% else %}
    <div>
        {{ "feature.show.no_tasks"|trans([], 'AguilaBundle') }}
    </div>
    {% endfor %}

</section>

{% endblock %}